@font-face {
  font-family: 'Dolce';
  src: local('Dolce'), url("../../fonts/Dolce Vita Heavy Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Dolce-light';
  src: local('Dolce-light'), url("../../fonts/Dolce Vita Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Dirty-line';
  src: local('Dirty-line'), url("../../fonts/Dirtyline.ttf") format('truetype');
}

.App {
  text-align: center;
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
scroll-behavior: smooth;
background-color: white;
-webkit-transition: background-color 1000ms linear;
-moz-transition: background-color 1000ms linear;
-o-transition: background-color 1000ms linear;
-ms-transition: background-color 1000ms linear;
transition: background-color 1000ms linear;
}

.Dolce {
  font-family: Dolce;
}

//work animation
.work {
  mix-blend-mode: difference;
  height: 500vh;
}

.svg-trace {
  position: sticky;
  position: -webkit-sticky;
  top: -10vh; 
}
