@media (max-width: 1280px) {   
    .mission {
        font-size: calc(5.3rem + 1vw);
    }
    .dirtyline {
        font-size: calc(4.9rem + 1vw);
    }
    .ace {
        height: calc(60px + 1vw);
        transform: translateY(calc(-80px - 1vw));
    }
    .astronaut img {
    width: 22.5rem;
    }

    .hs-wrapper {
        height: 70vh;
      }

      .ps h1 {
        font-size: calc(3rem + 1vw);
        line-height: calc(2.8rem + 1vw);
    }

    .static {
        height: 40vh;
    }

    .work-tv {
        font-size: 3rem;
    }

    .work {
        height: 1000vh;
        z-index: 1;
    }
  }

  @media (max-width: 1024px) {   
    .mission {
        font-size: calc(4.3rem + 1vw);
    }
    .dirtyline {
        font-size: calc(3.9rem + 1vw);
    }
    .ace {
        height: calc(50px + 1vw);
        transform: translateY(calc(-66px - 1vw));
    }
    .astronaut img {
    right: 6em;
    width: 22rem;
    }

    .hs-wrapper {
        height: 55vh;
      }

      .ps h1 {
        font-size: calc(2.3rem + 1vw);
        line-height: calc(2.2rem + 1vw);
    }

    .static {
        height: 33vh;
    }

    .work-tv {
        font-size: 3rem;
    }
    .work {
        height: 900vh;
        z-index: 1;
    }
  }

  @media (max-width: 768px) {   
    .mission {
        font-size: calc(3rem + 1vw);
    }
    .dirtyline {
        font-size: calc(2.7rem + 1vw);
    }
    .ace {
        height: calc(35px + 1vw);
        transform: translateY(calc(-45px - 1vw));
    }
    .astronaut img {
    right: 5em;
    width: 15rem;
    }

    .hs-wrapper {
        height: auto;
        width: calc(100vw - 5rem);
      }

      .ps {
        display: flex;
        align-items: center;
        padding-top: 2rem;
      }

      .ps h1 {
        font-size: calc(2rem + 1vw);
        line-height: calc(1.7rem + 1vw);
    }

    .w-portfolio {
        margin-top: 300vh;
    }

    .view-all {
        height: 2rem;
    }
    
    .tv-fx {
        display: none;
    }

    .static {
        display: none;
    }

    .work-tv {
        display: none;
    }
    .work {
        height: 700vh;
        z-index: 1;
    }
  }

  @media (max-width: 425px) {   
    #navbar ul {
        padding-right:1rem;
        padding-left:1rem;
    }
    .px-10 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .text-xs {
        font-size: 0.55rem;
    }

    .mission {
        font-size: calc(3rem + 1vw);
    }
    .dirtyline {
        font-size: calc(2.7rem + 1vw);
    }
    .ace {
        height: calc(35px + 1vw);
        transform: translateY(calc(-45px - 1vw));
    }
    .astronaut img {
    right: 5em;
    width: 15rem;
    }

    .hs-wrapper {
        height: auto;
        width: calc(100vw - 2rem);
      }

      .ps {
        display: flex;
        align-items: center;
        padding-top: 0rem;
        padding-left: 1rem;
    padding-right: 1rem;
      }

      .ps h1 {
        font-size: calc(2rem + 1vw);
        line-height: calc(1.7rem + 1vw);
    }

    .w-portfolio {
        margin-top: 200vh;
    }

    .view-all {
        height: 2rem;
    }
    
    .tv-fx {
        display: none;
    }

    .static {
        display: none;
    }

    .work-tv {
        display: none;
    }
    .work {
        height: 560vh;
        z-index: 1;
    }
    .contact {
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 2rem;
        font-size: 1rem;
    }
    #footer {
        padding-top: 5vh;
    }

    .nav-right {
        gap: 4rem;
    }
    .nav-logo {
        font-size: 2rem;
    }
    .hs-wrapper img, .hs-wrapper video {
        height: 40vh;
    }
    .nav-items, .nav-info{
        display: none;
    }
    .side-menu{
        display: block;
    }
  }