
// vision
#vision {
    height: 400vh;
    font-family: Dolce;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 5rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
  
  .expo11, .expo22 {
    grid-column: 1;
    grid-row: 1;
    height: 100vh;
    width: -webkit-fill-availabl; 
    object-fit: cover;
  }
  
  .expo11 {
    z-index: 2;
    opacity: 1;
  }
  
  .expo22{
    z-index: 1;
  }